html {
  margin: 2rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

li {
  list-style-type: none;
}
nav a {
  display: inline-block;
  margin: 1em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
form > input, form > textarea, form > select, form > button {
  margin: 5px;
}
@media (max-width: 500px){
  .staff-profile {
  width: 100%;
  }
}